{% extends 'base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
  <li class="breadcrumb-item active"><a>Clients</a></li>
{% endblock %}
{% block content %}
	<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
			} );
	</script>
	{% if clients_list %}
	<table id="example" class="table table-bordered display" style="width:100%">
    	<thead class="thead-dark">
            <tr>
				<th>ID</th>
				<th>Name</th>
				<th>Place</th>
				<th>Description</th>
				<th>Balance</th>
            </tr>
        </thead>
        <tbody>
    		{% for client in clients_list %}
			<tr>
				<td>{{ client.id }}</td>
				<td><a href="{% url 'account_details' client.id %}">{{ client.name }}</a></td>
				<td>{{ client.place }}</td>		
				<td>{{ client.description }}</td>
				<td style="text-align:right">{{ client.balance }}</td>		
	  		</tr>    
			{% endfor %}
		</tbody>
		<tfoot>
            <tr>
				<th>ID</th>
				<th>Name</th>
				<th>Place</th>
				<th>Description</th>
				<th>Balance</th>
            </tr>
        </tfoot>
	</table>
	{% else %}
    	<p>No details are available.</p>
	{% endif %}
{% endblock %}
