{% extends 'base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'index' %}">index</a></li>
  <li class="breadcrumb-item active"><a>{{item.name}}</a></li>
{% endblock %}
{% block content %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <form action="transact" method="post">
        <div class="card-header">Item: {{ item.name }}</div>
        {% csrf_token %}
        <input type="hidden" name="item" value="{{ item.name }}">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label for="quantity">Quantity : </label>
                    </td>
                    <td>
                        <input type="number" class="form-control" value="1" id="quantity" name="quantity" min="1" max="{{ item.quantity }}"/>
                    </td>
                </tr>
                 <tr>  
                    <td>
                        <label for="client"> Client : </label>
                    </td>
                    <td>
                        <select name="client" class="form-control" id="client">
                            {% for client in clients %}
                                <option value="{{ client.place }}">{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="activity">&nbspChoose Action:&nbsp</label>
                    </td>                    
                    <td>
                        <select name="activity" class="form-control" id="activity">
                            <option value="TRANSFER">Transfer</option>
                            <option value="RETURN">Return</option>
                            <option value="SALE">Sale</option>
                            <option value="PURCHASE">Purchase</option>                        
                        </select>
                    </td>
                    <br/>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>
{% endblock %}
